html{
  scroll-snap-type: y mandatory;
}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: grey;
}
.app__logo{
  height: 12vh;
}
.app__top{
  margin-bottom: -50px;
}
.app__top > h1{
  text-align: center;
  color: white;
}
.app__videos{
  position: relative;
  height: 65vh;
  background-color: white;
 
  border-radius: 20px;
  max-height: 1200px;
  max-width: 450px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/*hide scrollbar for chrome,safari and opera*/
.app__videos::-webkit-scrollbar{
  display: none;
}

/*hide scrollbar for IE,Edge and firefox*/
.app__videos{
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}